:root{
    --Monserrat: 'Montserrat', sans-serif;
    --WorkSans: 'Work Sans', sans-serif;
    --BluePrimary: #35BCD9;
  }
.containerButtons{
    display: flex;
    gap: 5px;
    margin-top: 10px;
    width: 100%;
    justify-content: flex-end;
}

.clear{
    min-width: 150px;
    padding: 5px;
    background-color: #fff;
    color: var(--BluePrimary);
    border: none;
    font-family: var(--Monserrat);
    font-size: 13px;
}

.consult{
    min-width: 100px;
    padding: 5px;
    background-color: var(--BluePrimary);
    color: white;
    border-radius: 15px;
    border: none;
    font-family: var(--Monserrat);
    font-size: 13px;
}
.consult:hover{
    background-color: #FF9B52;
    transition: .3s;

}