.Container{
    border: 1px solid #3333333a;
    display: flex;
    justify-content: space-between;
    padding:  6px 15px;
    border-radius: 5px;
}
.Container input{
    outline: none;
    border: none;
    width: 100%;
}