:root{
    --Monserrat: 'Montserrat', sans-serif;
    --WorkSans: 'Work Sans', sans-serif;
    --BluePrimary: #35BCD9;
}
.Container{
    border: 1px solid #3333333a;
    display: flex;
    justify-content: space-between;
    padding:  6px 15px;
    border-radius: 5px;
}
.Container input{
    outline: none;
    border: none;
    width: 100%;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
div.active{
    border: 2px solid var(--BluePrimary);
}