.ContainerGlobal{
    width: 100%;
/*     background-color: #d3d3d3; */
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 13px;
}
.containerOfferType {
    display: flex;
    gap: 25px;
}
.containerSector{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}
.containerSector label, .containerPredio label, .cointainerYear label, .ContainerAreas label{
    font-family: var(--Monserrat);
    font-size: 14px;
    font-weight: 600;
}
.selector{
    width: 50%;
    min-width: 170px;
}
label{
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
    margin-bottom: 5px;
}
.containerCheckBoxPredio {
    display: flex;
    gap: 30px;
}

.cointainerYear{
    width: 100%;
}
.ContainerAreas{
    width: 100%;
    height: auto;
    
}
.ContainerAreas div{
    display: flex;
    gap: 10px;
}
.ContainerAreas .Container{
    width: 50%;
}
button.accordion-button:focus:not(.collapsed){
    box-shadow: inset 0 calc(-1 * 1px) 0 #35bcd9;
}

/* .accordion-collapse{
    border-top: 1px solid #35bcd9;
} */

.accordion-header div.collapse.show {
    border-bottom: 1px solid #35bcd9;
}
.accordion-header button.accordion-button{
    font-family: var(--Monserrat);
    font-weight: 600;
    font-size: 14px;
}
.accordion div.accordion-item {
    border: 1px solid #35bcd9;
    margin-bottom: 5px;
    border-radius: 6px;
}

span.css-1u9des2-indicatorSeparator{
    display: none;
}
/* Zona Geoeconomica */

.Zones{
    padding-left: 20px;
}