:root{
    --Monserrat: 'Montserrat', sans-serif;
    --WorkSans: 'Work Sans', sans-serif;
    --BluePrimary: #35BCD9;
    --gray: #efefef;
}
.ContainerGlobal{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 13px;
}
.containerOfferType {
    display: flex;
    gap: 25px;
}
.containerSector{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}
.containerSector label, .containerPredio label, .cointainerYear label, .ContainerAreas label{
    font-family: var(--Monserrat);
    font-size: 14px;
    font-weight: 600;
}
.selector{
    width: 50%;
    min-width: 170px;
}
label{
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
    margin-bottom: 5px;
}
.containerCheckBoxPredio {
    display: flex;
    gap: 30px;
}

.cointainerYear{
    width: 100%;
}
.ContainerAreas{
    width: 100%;
    height: auto;
    
}
.ContainerAreas div{
    display: flex;
    gap: 10px;
}
.ContainerAreas, .containerPredio{
    margin-top: 20px;
}
.ContainerAreas .Container{
    width: 50%;
}
button.accordion-button:focus:not(.collapsed){
    box-shadow: inset 0 calc(-1 * 1px) 0 var(--BluePrimary);
}
.accordion-header div.collapse.show {
    border-bottom: 1px solid var(--BluePrimary);
}
.accordion-header button.accordion-button{
    font-family: var(--Monserrat);
    font-weight: 600;
    font-size: 14px;
}
.accordion div.accordion-item {
    border: 1px solid var(--BluePrimary);
    margin-bottom: 5px;
    border-radius: 6px;
}

span.css-1u9des2-indicatorSeparator{
    display: none;
}
/* Zona Geoeconomica */

.Zones{
    padding-left: 20px;
}
.contendeorBotones{
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}

/* Informacion catastral */

.containerInformacion h5{
    font-family: var(--Monserrat);
    font-weight: 500;
    font-size: 12px;
}

.containerInformacion p{
    font-family: var(--WorkSans);
    font-size: 10px;
    Text-align:justify;
}
.ContainerRadios{
    display: flex;
    gap: 35px;
}


/* Resultados desplegables oferta inmobiliaraia */

.ContainerScroll{
    max-height: 250px;
    overflow: auto; /* Habilita el desplazamiento cuando el contenido exceda el tamaño */
    margin-top: 10px;
    border-radius: 3px;
}
.encabezado{
    width: 98%;
    display: flex;
    justify-content: space-between;
    font-family: var(--Monserrat);

}
.encabezado h3{
    font-size: 16px;
    font-weight: 600;
}
.encabezado #enlace{
    font-size: 13px;
    color: var(--BluePrimary);
    text-decoration: none;
    
}
.encabezado div{
    display: flex;
    align-items: flex-start;
    display: flex;
    gap: 8px;
}
.encabezado img{
    width: 20px;
}
.description, .descriptionTwo{
    font-family: var(--WorkSans);
    display: flex;
    gap: 30px;
    align-items: center;
}
.description p, .descriptionTwo p{
    font-size:14px;
}
.descriptionTwo p{
    font-weight: 600;
}
.description h5{
    font-size: 12px;
    font-weight: 500;
}
.tipoOferta{
    display: flex;
    gap: 20px;
}
.tipoOferta p{
    font-size:14px;
    font-weight: 600;
}
.tipoOferta span{
    color: var(--BluePrimary);
}
.containerTable{
    display: grid;
    justify-content: center;

}
.FirstTable{
    margin-bottom: 15px;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--gray);
    text-align: center;
  }

  th, td {
    padding: 8px;
    text-align: center; /* Centro de todo el texto */
  }

  th {
    background-color:  var(--gray); /* Color de fondo para el encabezado */
}

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Borde inferior de las filas */
  }

  tr:last-child {
    border-bottom: none; /* No aplicar borde en la última fila */
  }
  tr:nth-child(odd) {
    background-color: #ffffff; /* Color de fondo para filas impares */
  }

  td:first-child {
    padding-left: 15px; /* Espacio entre elementos */
  }
  .ContainerResultados{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .selectAnio{
    width: 50%;
    margin-top: 10px;
  }
  .mapaRB{
    display: flex;
    gap: 25px;
  }
  .Container::focus{
    border: 1px solid var(--BluePrimary);
  }